{{define "yield"}}
<div class="container-fluid">
   
  <div class="row"> &nbsp; </div>
  <div class="row"> &nbsp; </div>

  <form id="form1" enctype="multipart/form-data" action="/where2" method="post" onsubmit="return checkForm(this);">
    <input name="sessionID" type="hidden" value="{{.SessionID}}" >

    <div class="form-group">
      <label for="file1">请选择要上传的照片或视频</label>
      <input type="file" name="uploadFile"  id="file1" autofocus required/>
    </div>
    
  <div class="form-group">
        &nbsp;
    <label for="selectEducatorChkBoxGrp">您想把这张相片或视频发送给哪几位老师？请选择一个或多个：</label>
    <div class="checkbox-group required" id="selectEducatorChkBoxGrp">
        {{range $i, $v := .EducatorNames}}
        
        <div class="form-check form-check-inline" >
            <input class="form-check-input" type="checkbox" name = "educators" id= "edu{{$i}}" value={{$v}}>
            <label class="form-check-label" for="edu{{$i}}">{{$v}}</label>
        </div>
        
        {{end}}
    </div>
  </div>
    <div class="alert alert-warning alert-dismissible fade show" id="selectEduAlert" role="alert" style="display:none;">
      请选择一位或多位老师
    </div>

    <div class="row"> &nbsp; </div>
    <!-- <input name="next-action" class="col" type="submit" value="开始上传"> -->
    <div class="text-center"> 
      <button type="submit" form="form1" value="Submit" class="btn btn-outline-primary " >开始上传</button>
    </div>
    <div class="row"> &nbsp; </div>
  </form>
</div>
  <script type='text/javascript'>
    function checkForm(form)
    {
        //
        // validate form fields
        //
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

        // form.myButton.disabled = true;
        console.log("in checkForm()")
        if (!checkedOne) {
            $('.alert').show()
            // alert("请选择一位或多位老师")
            return false};
        return true
    }
</script>
  
{{end}}      