{{define "yield"}}
<div class="container-fluid">

  <div class="row"> &nbsp; </div>

  <div class="row"> &nbsp; </div>
  <div class="text-center">
    <img src="/resources/fund-barcode.jpg" class="img-fluid" alt="Responsive image">
  </div>
  <div class="row"> &nbsp; </div>

  <p>
    上图中的二维码为“尤溪一中教育基金”微信支付的入口。<br>
    请使用手机识别二维码的功能识别该码后进行微信支付。<br>
    进入支付页面后请使用“添加付款备注”提供您的姓名以及用途为赞助“老师谢谢您”活动
  </p>
  <div class="row"> &nbsp; </div>
  <form id="gotoHomePage" action="/" method="get">

    <div class="text-center">
      <!-- <input  class="col" type="submit" value=""> -->
      <button type="submit" form="gotoHomePage" value="Submit" class="btn btn-outline-primary btn-lg">回活动首页</button>
    </div>
    <div class="row"> &nbsp; </div>

  </form>
</div>
{{end}}