{{define "yield"}}
<div class="container-fluid">

  <div class="row"> &nbsp; </div>

  <div class="row"> &nbsp; </div>
    <div class="text-center"> 
      <img src="/resources/fund-barcode.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="row"> &nbsp; </div>
    <h5>
      上图中的二维码为“尤溪一中教育基金”微信支付的入口。
      请使用手机识别二维码的功能识别该码后进行微信支付。
    </h5>  
  <div class="row"> &nbsp; </div>
  <form id="gotoHomePage" action="/" method="get">
    
    <div class="text-center"> 
      <!-- <input  class="col" type="submit" value=""> -->
      <button type="submit" form="gotoHomePage" value="Submit" class="btn btn-outline-primary btn-lg" >回活动首页</button>
    </div>
    <div class="row"> &nbsp; </div>
    
  </form>
</div>
  {{end}}      